.form-control{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(202, 199, 199);
  border: 0px solid;
  margin: 8px;
  width: 220px;
}

.btn{
  background-color: rgb(7, 126, 126);
  padding: 10px;
  border-radius: 5px;
  color: beige;
  font-weight: 10;
  margin-left: 10px;
  margin-top: 8px;
  width: 240px;
}

.signup-btn{
  background-color: rgb(7, 126, 126);
  color: beige;
  padding: 10px;
  border-radius: 5px;
  margin-left: 470px;
  
}

.login-left-panel{
  background-color: rgb(7, 126, 126);
  border-radius: 5px;
  width: 600px;
  height: 600px;
}

.login-right-panel{
  width: 330px;
  height: 600px;
  background-color: rgb(245, 241, 241);
  border-radius: 5px;
  margin-left:  605px;
  margin-top: -600px;
}

.login-form{
  padding-left: 20px;
}

.login-page-container{
  margin-left: 300px;
}

.logo-login{
  margin-left: 30px;
  padding-top: 100px;
}

.forgot-password{
  color: rgb(7, 126, 126);
  text-align: center;
  font-weight: bold;
}

.tagline-loginpage{
  color: beige;
  font-style: italic;
  text-align: center;
  padding-top: 500px;
  font-size: 20px;
}

.login-left-panel-img{
  width: 200px;
  /* padding-top: -400px; */
  margin-left: 150px;
  margin-top: -900px;
}

.navbar{
  /* background-color: rgb(167, 134, 134); */
  margin-left: 300px;
  margin-right: 350px;
   text-align: right;
   padding: 20px;
}

.navbar-link{
  color: teal;
  /* padding-right: 100px; */
  padding-left: 100px;
  padding-top: 5px;
  padding-right: 5px;
}

.side-bar{
  background-color: rgb(7, 126, 126);
  border-radius: 5px;
  width: 300px;
  height: 600px;
}

.footer-container{
  background-color: rgb(245, 241, 241);
  padding: 5px;
  margin-left: 300px;
  margin-right: 350px;
  margin-top: 5px;
  border-radius: 5px;
}

.footer-text{
  text-align: center;
}

.page-right-panel{
  width: 630px;
  height: 600px;
  background-color: rgb(245, 241, 241);
  border-radius: 5px;
  margin-left: 305px;
  margin-top: -600px;
}

.page-container{
  margin-left: 300px;
}
.add-loader-form{
  width: 600px;
  border-radius: 5px;
  padding-top: 100px;
  margin-left: 20px;
}

.sidebar-link{
  /* padding: 50px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: beige;
  margin-left: 50px;
}

.form-signup{
  width: 500px;
}

.table-header{
  background-color: cadetblue;
  border-color: red;
}

.table-field{
  padding-left: 20px;
  margin-right: 20px;
}