.navbar{
  /* background-color: rgb(167, 134, 134); */
  margin-left: 500px;
  /* margin-right: 315px; */
   text-align: left;
   /* padding: 20px; */
   width: 880px;
}

.logo-nav{
  margin-left: 200px;
  margin-bottom: -73px;
  /* width: 300px; */
  width: 200px;
  border-radius: 5px;
}

.navbar-link{
  /* color: teal; */
  color: beige;
  opacity: 80%;
  /* padding-right: 50px; */
  /* color: rgb(202, 199, 199); */
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
}
.navbar-link:hover{
  background-color: rgb(211, 205, 205);
  padding: 5px;
  text-decoration: none;
  color: rgb(7, 126, 126);
}

.form-control{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(202, 199, 199);
  border: 0px solid;
  /* margin: 8px; */
  /* width: 220px; */
}
.signup-form{
  width: 600px;
  border-radius: 5px;
  padding-top: 100px;
  margin-left: 40px;
}
.signup-form-input{
  width: 580px;
}

.signup-btn{
  background-color: rgb(7, 126, 126);
  color: beige;
  padding: 10px;
  border-radius: 5px;
  margin-left: 735px;
  
}

.signup-btn:hover{
  color: beige;
  text-decoration: none;
  font-weight: bold;
}

.login-left-panel{
  background-color: rgb(7, 126, 126);
  border-radius: 5px;
  width: 750px;
  height: 600px;
}

.login-right-panel{
  width: 430px;
  height: 600px;
  background-color: rgb(245, 241, 241);
  border-radius: 5px;
  margin-left:  753px;
  margin-top: -600px;
}

.login-form{
  padding-left: 20px;
  width: 360px;
  margin-left: 20px;
}

.login-page-container{
  margin-left: 200px;
}

.logo-login{
  margin-left: 80px;
  padding-top: 50px;
}
.btn{
  background-color: rgb(7, 126, 126);
  padding: 10px;
  border-radius: 5px;
  color: beige;
  font-weight: 10;
  /* margin-left: 10px; */
  margin-top: 8px;
}

.btn:hover{
  color: beige;
  text-decoration: none;
  font-weight: bold;
}
.login-btn{
  width: 340px;
}

.forgot-password{
  color: rgb(7, 126, 126);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding-top: 15px;
}
.forgot-password:hover{
  color: rgb(7, 126, 126);
  text-decoration: none;
  background-color: rgb(233, 230, 230);
  margin-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.tagline-loginpage{
  color: beige;
  font-style: italic;
  text-align: center;
  padding-top: 500px;
  font-size: 20px;
  font-weight: bold;
}

.login-left-panel-img{
  width: 200px;
  margin-left: 280px;
  margin-top: -600px;
  border-radius: 40px;
  opacity: 60%;

}


.footer-container{
  background-color: rgb(245, 241, 241);
  padding: 10px;
  margin-left: 200px;
  margin-right: 215px;
  margin-top: 3px;
  border-radius: 5px;
  width: 1185px;
}

.footer-text{
  text-align: center;
}

.side-bar{
  background-color: rgb(7, 126, 126);
  border-radius: 5px;
  width: 300px;
  height: 600px;
}
.side-bar-signup{
  width: 500px;
}

.sidebar-link{
  /* padding: 50px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: beige;
  margin-left: 50px;
  text-decoration: none;
  font-weight: bold;
}
.sidebar-link:hover{
  background-color: rgb(209, 208, 208);
  opacity: 40%;
  padding: 20px ;
  border-radius: 5px;
  color: beige;
  text-decoration: none;
  /* margin-left: 0; */
  /* margin-right: 0; */
  
  /* width: 300px; */
  /* padding-right: 100px; */
}

.page-right-panel{
  width: 880px;
  height: 600px;
  background-color: rgb(245, 241, 241);
  border-radius: 5px;
  margin-left: 303px;
  margin-top: -600px;
}
.page-right-panel-signup{
  width: 680px;
  margin-left: 503px;
}

.page-container{
  margin-left: 200px;
}


table{
  margin-left: 20px;
  margin-right: 20px;
}
.table-header{
  background-color: gray;
  border-radius: 5px;
}

.table-field{
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.table-data{
  padding-left: 10px;
  margin-right: 20px;
  padding-top: 20px;
  border-bottom:1px solid gray;
  text-decoration: none;

  /* background-color:blueviolet; */
}

.table-supplier{
 padding-right: 30px;
}

.table-packages{
  padding-right: 35px;
 }

.invoice-card{
  /* width: 250px; */
  margin-left: 10px;
}

.total-order-cost{
  font-size: 20px;
  color: rgb(175, 13, 13);
}

.admin-dash-card{
  width: 350px;
  margin-left: 10px;
}

body{
  background-color: rgb(26, 25, 25);
}